@import '../styles/variables.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
}

main {
    flex: 1;
    max-width: 1240px;
    width: 100%;
}

@media (max-width: 768px) {
    #root {
        gap: 25px;
    }
}