@import '../../styles/variables.scss';

.header {
    max-width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    width: 100%;
}

.logo {
    width: 211px;
    height: auto;
    margin-left: 20px;
}

.nav {
    display: flex;
    gap: 57px;
    margin-right: 20px;

    .nav__link {
        text-decoration: none;
        color: $secondary-color;
        font-size: 24px;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    .header {
        margin-top: 25px;
    }

    .logo {
        width: 145px;
        height: auto;
    }

    .nav {
        gap: 26px;
    }

    .nav .nav__link {
        font-size: 12px;
    }
}